<section class="scroll-mt-24" id="faq">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="">
      <h2 class="text-3xl tracking-tighter font-light lg:text-4xl text-black">
        Frequently Asked Questions about <span class="block">CYPHER</span>
      </h2>
      <p class="mt-5 text-black">
        Can't find your answer? Contact our support team at <a
          class="text-blue-400 hover:text-black duration-200"
          href="mailto:support@cypher.com">support@cypher.com</a
        >.
      </p>
    </div>
    <div x-data="{selected:null}">
      <ul
        class="list-none text-black bg-white rounded-3xl divide-y mt-8"
        role="list"
        @click="open = !open"
      >
        <li class="relative">
          <!-- FAQ item 1 -->
          <button
            class="w-full p-4 text-left"
            @click="selected !== 1 ? selected = 1 : selected = null"
            type="button"
          >
            <div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">What is CYPHER?</p>
              <svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
            x-ref="container1"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              CYPHER is a revolutionary blockchain data management tool that
              offers quantum-speed indexing, a content-addressed CDN, AI-driven
              analytics, and a decentralized architecture. It's designed to
              provide real-time insights and redefine what's possible in
              blockchain analytics.
            </div>
          </div>
        </li><li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 4 ? selected = 4 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                Why we are free for now?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 4 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              Because we're not just building a product, we're building a fucking revolution. The first 50 users aren't just early adopters, they're co-conspirators. We're giving you a taste of the future for free because once you're hooked, you'll never go back to your prehistoric data tools.
            </div>
          </div>
        </li>
        <li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 5 ? selected = 5 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                What makes CYPHER different from other blockchain data solutions?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 5 ? 'max-height: ' + $refs.container5.scrollHeight + 'px' : ''"
            x-ref="container5"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              What makes a Ferrari different from a bicycle? Everything. Speed, power, intelligence - CYPHER isn't playing the same game as others, we've changed the entire fucking sport.
            </div>
          </div>
        </li>

        <li class="relative">
          <button
            class="w-full p-4 text-left"
            @click="selected !== 7 ? selected = 7 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-black">
              <p class="text-lg tracking-tight text-black">
                Do I need to be a blockchain expert to use CYPHER?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 7 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-500 p-8 pt-0">
              Do you need to be a mechanic to drive a car? Hell no. We've made blockchain data so intuitive, your grandma could use it.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
