<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
     <h2
        class="text-2xl tracking-tighter  font-light lg:text-4xl text-black"
      >
    How it works
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        We don't just read the blockchain, we fucking inhale it. Every transaction, every smart contract, every sneeze on the Solana network - we catch it all in real-time.        <br /><br /> 
        Forget about slow, centralized servers. Our CDN is a decentralized beast that teleports data across the globe faster than you can blink.
        <br /><br />
        We don't just store data, we make it sing. Our AI crunches numbers like a steroid-pumped supercomputer, spitting out insights that'll make your head spin.
      </p>
    </div>
  </div>
</section>
