---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';
import { Marked } from 'marked';
import { markedHighlight } from "marked-highlight";
import hljs from 'highlight.js';
import LogoGraphic from "@/components/global/LogoGraphic.astro";

const marked = new Marked(
  markedHighlight({
    langPrefix: 'hljs language-',
    highlight(code, lang) {
      const language = hljs.getLanguage(lang) ? lang : 'plaintext';
      return hljs.highlight(code, { language }).value;
    }
  })
);

const indexerContent = await getCollection('windexer');
const sortOrder = [
  'introduction', 'architecture', 'capabilities', 
  'use-cases', 'security', 'roadmap', 'conclusion'
];
const sortedContent = sortOrder.map(slug => 
  indexerContent.find(entry => entry.slug === slug)
).filter(Boolean);

for (const entry of sortedContent) {
  entry.Content = marked.parse(entry.body);
}
---

<BaseLayout title="windexer Indexer - Technical Whitepaper">
  <LogoGraphic />
  <div class="flex">
    <aside class="w-64 h-screen sticky top-0 p-5 border-r overflow-y-auto">
      <h2 class="text-lg font-semibold mb-4">Contents</h2>
      <nav>
        <ul class="space-y-2">
          {sortedContent.map((entry) => (
            <li>
              <a href={`#${entry.slug}`} class="text-gray-600 hover:text-indigo-600 transition-colors duration-200">
                {entry.data.title}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    </aside>
    <main class="flex-1 p-8 overflow-y-auto">
      
      {sortedContent.map((entry) => (
        <section id={entry.slug} class="mb-12">
          <div class="prose prose-lg max-w-none" set:html={entry.Content} />
        </section>
      ))}
    </main>
  </div>
</BaseLayout>

<style is:global>
  @import 'highlight.js/styles/github-dark.css';
  
  .prose h1 {
    @apply text-4xl font-bold text-gray-900 mb-4;
  }
  .prose h2 {
    @apply text-3xl font-semibold text-gray-800 mt-8 mb-4;
  }
  .prose h3 {
    @apply text-2xl font-medium text-gray-700 mt-6 mb-3;
  }
  .prose p {
    @apply text-gray-600 mb-4;
  }
  .prose ul, .prose ol {
    @apply pl-5 mb-4;
  }
  .prose li {
    @apply mb-2;
  }
  .prose a {
    @apply text-indigo-600 hover:text-indigo-800;
  }
  .prose pre {
    @apply rounded-lg shadow-md p-4 my-4;
  }
  .prose code {
    @apply text-sm rounded px-1 py-0.5;
  }
</style>

<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();
      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>