---
import LogoGraphic from "./LogoGraphic.astro";
---

<footer class="overflow-hidden">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <div>
        <h3 class="text-black text-base lg:text-xl">Navigation</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <!-- <li>
            <a href="#work" class="hover:text-black"> Work</a>
          </li> -->
          <li>
            <a href="#how" class="hover:text-black"> How it works</a>
          </li>
          <li>
            <a href="/windexer" class="hover:text-black"> Wndexer</a>
          </li>
          <li>
            <a href="#faq" class="hover:text-black"> FAQ</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Other projects</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a
              href="https://idpm.tech/"
              class="hover:text-black"
            >
              IPDM
            </a>
          </li>
          <li>
            <a
              href="https://t.me/+K7jHe7CVSqQ2Yjg1"
              class="hover:text-black"
            >
              Join Working Group
            </a>
          </li>
        </ul>
      </div>
      <!-- <div>
        <h3 class="text-black text-base lg:text-xl">Resources</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="https://docs.solanalabs.com/validator/geyser" class="hover:text-black">
              Solana Validator Geyser Plugins
            </a>
          </li>
          <li>
            <a href="https://docs.shdwdrive.com/learn/storage-services" class="hover:text-black">GenesysGo's shdwDrive</a>
          </li>
        </ul>
      </div> -->
      <div>
        <h3 class="text-black text-base lg:text-xl">Socials</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a
              href="https://x.com/cypher_ipdm"
              class="hover:text-black"
            >
              @cypher_ipdm
            </a>
          </li>
          <li>
            <a
              href="https://x.com/vivekpal0x"
              class="hover:text-black"
            >
              @vivekpal0x
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-sm text-black">
        © 2024 CYPHER Design. All rights reserved
      </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-500 lg:col-span-2">
          Designed and built by
          <a
            href="https://vivekpal.xyz/"
            class="text-sm text-black hover:text-blue-300"
            >Vivek Pal</a
          >, this website was crafted on Earth.
        </p>
      </div>
    </section>
  </div>
  <LogoGraphic />


</footer>
