<footer class="overflow-hidden">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <div>
        <h3 class="text-black text-base lg:text-xl">Navigation</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <!-- <li>
            <a href="#work" class="hover:text-black"> Work</a>
          </li> -->
          <li>
            <a href="#how" class="hover:text-black"> How it works</a>
          </li>
          <li>
            <a href="/indexer" class="hover:text-black"> Indexer</a>
          </li>
          <li>
            <a href="#faq" class="hover:text-black"> FAQ</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Other projects</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a
              href="https://zenkai.vivekpal.xyz/"
              class="hover:text-black"
            >
              Zenkai
            </a>
          </li>
        </ul>
      </div>
      <!-- <div>
        <h3 class="text-black text-base lg:text-xl">Resources</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="https://docs.solanalabs.com/validator/geyser" class="hover:text-black">
              Solana Validator Geyser Plugins
            </a>
          </li>
          <li>
            <a href="https://docs.shdwdrive.com/learn/storage-services" class="hover:text-black">GenesysGo's shdwDrive</a>
          </li>
        </ul>
      </div> -->
      <div>
        <h3 class="text-black text-base lg:text-xl">Socials</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a
              href="https://x.com/vivekpal0x"
              class="hover:text-black"
            >
              @vivekpal0x
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-sm text-black">
        © 2024 CYPHER Design. All rights reserved
      </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-500 lg:col-span-2">
          Designed and built by
          <a
            href="https://vivekpal.xyz/"
            class="text-sm text-black hover:text-blue-300"
            >Vivek Pal</a
          >, this website was crafted on Earth.
        </p>
      </div>
    </section>
  </div>
  <svg width="1238" height="229" viewBox="0 0 1238 229" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M165.688 168.688C165.688 168.688 171.521 171.812 183.188 178.062L181.781 180.875C180.844 182.75 179.281 185.146 177.094 188.062C174.906 190.979 172.25 194.26 169.125 197.906C166.104 201.448 162.198 205.042 157.406 208.688C152.719 212.229 147.562 215.458 141.938 218.375C136.417 221.292 129.802 223.688 122.094 225.562C114.49 227.438 106.521 228.375 98.1875 228.375C88.3958 228.375 78.8125 226.76 69.4375 223.531C60.0625 220.302 51.2083 215.406 42.875 208.844C34.5417 202.281 27.1979 194.417 20.8438 185.25C14.5938 176.083 9.59375 165.146 5.84375 152.438C2.19792 139.729 0.375 126.083 0.375 111.5C0.375 94.4167 3.1875 78.7396 8.8125 64.4688C14.5417 50.0938 22.0938 38.3229 31.4688 29.1562C40.8438 19.9896 51.3125 12.9062 62.875 7.90625C74.5417 2.80208 86.5208 0.25 98.8125 0.25C107.562 0.25 115.948 1.08333 123.969 2.75C131.99 4.3125 138.396 6.08333 143.188 8.0625C148.083 9.9375 152.615 12.1771 156.781 14.7812C161.052 17.2812 163.76 19.0521 164.906 20.0938C166.052 21.0312 166.938 21.8125 167.562 22.4375L172.25 60.875H163.188C161.833 54.3125 159.49 48.0625 156.156 42.125C152.823 36.0833 148.552 30.5104 143.344 25.4062C138.76 20.9271 132.25 16.8125 123.812 13.0625C116.521 9.83333 107.979 8.21875 98.1875 8.21875C88.1875 8.21875 78.7083 10.3021 69.75 14.4688C60.7917 18.6354 52.4583 24.7292 44.75 32.75C37.0417 40.6667 31.1042 50.9271 26.9375 63.5312C22.7708 76.0312 20.6875 89.8333 20.6875 104.938C20.6875 134.729 28.1875 159.365 43.1875 178.844C58.2917 198.323 77.5625 208.062 101 208.062C106.938 208.062 112.719 207.333 118.344 205.875C123.969 204.417 128.865 202.542 133.031 200.25C137.198 197.958 141.104 195.406 144.75 192.594C148.5 189.677 151.573 186.865 153.969 184.156C156.469 181.344 158.604 178.74 160.375 176.344C162.25 173.948 163.604 172.073 164.438 170.719L165.688 168.688ZM219.125 5.25L284.125 103.688C310.896 67.9583 326.938 45.9792 332.25 37.75C336.729 30.875 338.969 25.4062 338.969 21.3438C338.969 15.6146 334.438 12.75 325.375 12.75V5.25H362.25V10.5625L287.25 113.688V224H266V114.625L195.688 5.25H219.125ZM396.938 5.25H471C483.812 5.25 495.01 6.86458 504.594 10.0938C514.177 13.2188 521.729 17.5938 527.25 23.2188C532.771 28.8438 536.833 35.1979 539.438 42.2812C542.146 49.2604 543.5 57.0208 543.5 65.5625C543.5 76.0833 541.729 85.4583 538.188 93.6875C534.646 101.917 530.219 108.479 524.906 113.375C519.594 118.167 513.396 122.125 506.312 125.25C499.229 128.271 492.562 130.354 486.312 131.5C480.167 132.542 474.021 133.062 467.875 133.062C459.125 133.062 450.219 132.229 441.156 130.562C432.198 128.896 426.208 127.542 423.188 126.5C420.271 125.458 417.979 124.625 416.312 124V224H396.938V5.25ZM416.312 23.6875V114.938L422.875 117.281C427.354 118.844 433.5 120.406 441.312 121.969C449.229 123.531 456.625 124.312 463.5 124.312C471.417 124.312 478.76 123.375 485.531 121.5C492.302 119.625 498.552 116.708 504.281 112.75C510.115 108.792 514.646 103.323 517.875 96.3438C521.208 89.2604 522.875 80.9792 522.875 71.5C522.875 39.625 502.875 23.6875 462.875 23.6875H416.312ZM751.312 5.25H772.25V224H751.312V117.75H617.562V224H596.312V5.25H617.562V109.938H751.312V5.25ZM836.938 5.25H976.625L984.125 44.625H976.625C974.75 38.8958 972.823 34.2604 970.844 30.7188C968.969 27.1771 966.312 24 962.875 21.1875C959.542 18.2708 955.323 16.1875 950.219 14.9375C945.115 13.6875 938.812 13.0625 931.312 13.0625H856V104.938H962.25V121.188H856V205.25H986.312V224H836.938V5.25ZM1044.12 5.25H1116.62C1130.48 5.25 1142.56 7.02083 1152.88 10.5625C1163.29 14 1171.36 18.6875 1177.09 24.625C1182.82 30.5625 1187.04 37.0208 1189.75 44C1192.46 50.875 1193.81 58.2708 1193.81 66.1875C1193.81 92.3333 1179.85 111.188 1151.94 122.75C1165.79 145.25 1175.43 160.667 1180.84 169C1193.45 188.583 1203.6 201.448 1211.31 207.594C1218.6 213.427 1227.35 216.396 1237.56 216.5L1237.88 224H1216.94C1210.17 224 1204.02 222.906 1198.5 220.719C1193.08 218.427 1188.4 215.51 1184.44 211.969C1180.58 208.427 1176.42 203.479 1171.94 197.125C1167.46 190.771 1163.4 184.469 1159.75 178.219C1156.21 171.969 1151.36 163.948 1145.22 154.156C1139.07 144.365 1132.98 135.25 1126.94 126.812H1063.19V224H1044.12V5.25ZM1063.19 24.3125V119H1114.44C1121.21 119 1127.35 118.583 1132.88 117.75C1138.4 116.917 1143.76 115.406 1148.97 113.219C1154.18 111.031 1158.5 108.167 1161.94 104.625C1165.48 101.083 1168.29 96.3958 1170.38 90.5625C1172.46 84.7292 1173.5 77.9583 1173.5 70.25C1173.5 63.375 1172.41 57.2812 1170.22 51.9688C1168.03 46.5521 1164.49 41.7604 1159.59 37.5938C1154.7 33.3229 1147.88 30.0417 1139.12 27.75C1130.38 25.4583 1119.85 24.3125 1107.56 24.3125H1063.19Z" fill="white" style="fill:rgba(0, 0, 0, 0.945);fill-opacity:1;"/>
    </svg>


</footer>
